node_modules/
build/
coverage/
packages/*/node_modules/
docs/api/output.json
external/
lerna-debug.log
.idea
.vscode

# Ignore `yarn.lock` - this file might contain info from external repositories.
yarn.lock

# Ignore `mrgit.json` this file contains info about external repositories.
mrgit.json
packages/ckeditor5-build-classic/.DS_Store
.DS_Store
packages/.DS_Store
packages/ckeditor5-build-classic/package-lock.json
